<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="RCCsv" translate="label" sortOrder="10">
            <label>RCCsv</label>
        </tab>
        <section id="RCCsv" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>RCCsv Import Settings</label>
            <tab>general</tab>
            <resource>Vendor_Extension::config_extension</resource>
            <group id="RCCsv" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>RCCsv Import Settings</label>
            <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>Enable Cron</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="frequency" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
           showInStore="1">
		    <label>Frequency</label>
			<validate>required-entry</validate>
            <backend_model>RCCsv\Cron\Model\CronConfig</backend_model>
			<comment><![CDATA[Using Cron format <a href="http://www.nncron.ru/help/EN/working/cron-format.htm" target="_blank">here</a> to setting time for running cron job.]]></comment>
    </field>
	<field id="file_path" translate="label comment" sortOrder="1" type="text" showInDefault="1" showInWebsite="1"
           showInStore="1">
        <label>File Path</label>
		<validate>required-entry</validate>
		<comment><![CDATA[Path where your CSV is present]]></comment>
    </field>
    <field id="url_path" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Image Path</label>
            <comment><![CDATA[Images should be present under pub/media/catalog/product/ folder]]></comment>
    </field>
    <field id="link" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
        <frontend_model>\RCCsv\Cron\Block\Adminhtml\System\Config\Form\Field\Link</frontend_model>
    </field>
	</group>
        </section>
    </system>
</config>

